.btn-dsi {
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid $blue;
  border-radius: 6px;
  color:$blue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  transition: all .3s ease-out;
  box-shadow: 1px 1px 50px -10px $blue;
  &:hover {
    color: $white;
    background-color:$blue;
    box-shadow: 1px 1px 30px -10px $blue;
  }
}

.btn-dsi-lg {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.618em;
  border-width: 5px;
  i {
    margin-right: 8px;
  }
}
