.btn-dsi {
  text-transform: uppercase;
  background-color: white;
  border: 3px solid $blue;
  border-radius: 6px;
  color:$blue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  transition: all .3s ease-out;
  &:hover {
    color: $white;
    background-color:$blue;
  }
}

.btn-dsi-lg {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.618em;
  border-width: 5px;
  i {
    margin-right: 8px;
  }
}

.btn-arrow-down {
  position: relative;
  border: 2px solid white;
  border-radius: 3px;
  padding: 14px;
  color:$white;
  transition: all .3s ease-out;
  &:hover {
    color: $blue;
    background-color:$white;
    &:after {
      transform: scaleY(1);
    }
  }
  &:after {
    content: " ";
    position: absolute;
    height:120px;
    bottom:-120px;
    left:49.5%;
    width: 3px;
    background-color: white;
    transition: transform .3s ease-out;
  }
}
