$blue: #2B4592;
$black: black;
$white: white;
$gray-dark: #252C33;
$gray-med: #363f48;

.page-wrapper {
  margin-top:60px;
  background: $blue url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJUlEQVQIW2NkYGCQBGIQeA6lwRQjPglkhXA2SAcygBtLtARcNwBN0gQHoVU8VwAAAABJRU5ErkJggg==);
}

body {
  position: relative;
}

.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background-color: $gray-dark;
}
