footer {
  background-color: #363f48;
  color: #5e666d;
  a {
    color: #5e666d;
  }
}

.subfooter {
  height: 69px;
  background-color: $gray-dark;
  color: #575d63;
  padding: 30px 0 30px 0;
  p {
    margin: 0;
    font-size: 14px;
  }
  a {
    color: $blue;
  }
}
