html{
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.section {
  position:relative;
}

.whitebox-line-bottom {
  &:before {
    content: " ";
    position: absolute;
    height:200px;
    bottom:-180px;
    left:49.5%;
    width:3px;
    background-color: white;
  }
}

.whitebox-line-top {
  &:after {
    content: " ";
    position: absolute;
    height:90px;
    top:-90px;
    left:49.5%;
    width:3px;
    background-color: white;
  }
}

.section-partners {
  .whiteboxContainer {
    margin-bottom:60px;
  }
}

.row-partners {
  img {
    vertical-align: middle;
    max-height: 100px;
  }
}

.whiteboxContainer {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 25px;
  position:relative;
}
.whitebox {
  display: inline-block;
  text-transform: uppercase;
  background-color: white;
  font-weight: 700;
  border-radius: 3px;
  font-size: 24px;
  margin: 0 auto;
  padding: 15px 50px;
  color: #263740;
  min-width: 200px;
  position: relative;
  &:first-child {
    margin-top:60px;
  }
  &:before {

  }
}


.panel-dsihome {
  position: relative;
  padding: 40px;
}

.down-button-wrapper {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  .down-button {
    cursor: pointer;
    position: relative;
    display:inline-block;
    color:white;
    background-color: $blue;
    width: 40px;
    height: 40px;
    border: 4px solid $white;
    border-radius: 50%;
    font-size: 1.5em;
    transition: all .3s ease-out;
    &:hover {
      background-color: lighten($blue, 20%);
    }
  }
}
.section-solutions {
  .down-button-wrapper {
    bottom: -50px;
  }
  .solutions-list {
    margin-top: 20px;
    color:white;
    text-align: left;
    h4 {
      font-size: 4em;
      font-weight: 300;
      margin-bottom:40px;
      text-transform: uppercase;
    }
    li {
      font-size: 20px;
      margin-bottom: 20px;
      a {
        color:white;
      }
      i {
        margin-right: 10px;
      }
    }

  }
}

.big-icon-wrapper {
  position: relative;
  color:white;
  text-align: center;
  i {
    border: 3px solid $blue;
    color: $blue;
    background-color: white;
    padding:20px;
    border-radius: 50%;
  }
}

.horizontal-white-line {
  position: absolute;
  top:50%;
  left: 19%;
  height: 3px;
  width: 62%;
  border-radius: 20px;
  background-color: white;
}

.section-advantages {
  min-height: 400px;
  padding-bottom:20px;
  .down-button-wrapper {
    bottom: 20px;
  }
  .whitebox-line-bottom {
    &:before {
      bottom: -60px;
      height: 60px;
    }
  }
}

.section-advantages,
.section-partners,
.section-contact {
  min-height: 400px;
  position: relative;
  .whitebox-line-top {
    &:after {
      top: -106px;
      height: 106px;
    }
  }
}

.section-advantages {
  padding-bottom: 100px;
}

.section-contact {
  font-size: 16px;
  .panel-contact {
    margin-top: -40px;
    padding-top: 50px;

  }
  .big-icon-wrapper {
    z-index: 10;
  }
  .whitebox-line-bottom {
    &:before {
      bottom: -80px;
      height: 80px;
      left: 49.7%;
    }
  }
}

.row-advantages {
  color: $white;
  div {
    text-align: center;
  }
  h5 {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    line-height: 1.3;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  a {
    color: lighten($blue, 20%);
  }
}

.img-connected {
  border: 6px solid $white;
  margin-bottom: 20px;
  position: relative;
}

.img-connected-wrapper {
  &:before {
    content: " ";
    position: absolute;
    top: -45px;
    left: 49.7%;
    width: 3px;
    height: 45px;
    background-color: $white;
  }
}

.col-solutions {
  margin-bottom: 50px;
}

.row-advantages {

  img {
    max-height: 160px;
    max-width: 160px;
  }
}

.row-address {
  margin-bottom: 30px;

  &:first-child {
    margin-bottom: 15px;
  }
}




.address-line {
  display:block;
  line-height: 1.8;
}


.to-top-wrapper {
  top: 60px;
  i {
    cursor:pointer;
    vertical-align: middle;
    transition: all .3s ease-out;
    &:hover {
        color:$white;
        background-color: $gray-med;
    }
  }
}

.btn-contact-form-submit {
  background-color:white;
  font-size: 1.6em;
  i {
    margin-right: 3px;
  }
}

.content-partners {
  position: relative;
  min-height: 600px;
  // Fixed-position background image
  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background:
    linear-gradient(
      rgba(0, 23, 34, 0.75),
      rgba(43, 64, 74, 0.75)
      ),
      url("https://images.unsplash.com/35/4fjHtYHdRlSemICxjjBu_IMG_8424.jpg?q=80&fm=jpg&s=7e9bf2f0ae7f43b83272d0e13d1199ad");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    will-change: transform; // creates a new paint layer
    z-index: -1000;
  }
  .down-button-wrapper {
    bottom: 20px;
  }
}
