.nav-controls-right {
  position: fixed;
  top: 40%;
  right: 30px;
  z-index:1000;
  li.active {
    opacity: 1;
  }
  li {
    cursor: pointer;
    opacity: .5;
    margin-bottom: 4px;
    font-size: .8em;
    transition: all .3s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  i {
    color: $white;
  }
}


.navbar {
  margin-bottom: 0;
  z-index: 200;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  .navbar-brand {
    padding: 0;
    img {
      display: inline-block;
      max-height: 30px;
      margin-top: 8px;
    }
  }
}

.navbar-default {
  border-radius: 0;

}

.nav-wrapper
{
    min-height:50px;
}

.navbar-nav {
  ul.dropdown-menu {
    li {
      font-weight: 500;
      text-transform: none;
    }
  }
  .dropdown-menu > li > a {
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease-out;
    &:hover {
      color: $blue;
    }
  }
  li {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    a {
      position: relative;
      transition: all .3s ease-out;
      &:hover {

        &:after {
          position: absolute;
          bottom: -2px;
          left: 0px;
          width: 100%;
          height: 2px;
          background-color: black;
        }
      }
    }
  }
}

.sub-nav-wrapper {
  width: 100%;
  height: 60px;
  background-color: $gray-dark;
  color:white;
  transform-origin: top;
  transition: transform .3s ease;
}

#navbar-fixed-home.affix {
    position: fixed;
    top: 25px;
    width: 100%;
    margin-bottom:26px;
}

#navbar-fixed {
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar-default {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .35), 0 1px 8px rgba(0, 0, 0, .175);
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: darken(#fff, 10%);
  color: $blue;
}

.phone-button-wrapper {
  display:none;
  color:$blue;
  margin-top: 8px;
  margin-right: 18px;
}

.nav-collapse-buttons {
  float: right;
}

.dropdown-menu > li > a {
  transition: all .3s ease-out;
}
