@media screen and (max-width: 876px){
  body {
    font-size: 13px;
  }
  .section-contact {
    font-size: 14px;
  }
  #navbar-fixed-home.affix {
    top: 23px;
  }
  .horizontal-white-line {
    display:none;
  }
  .col-advantage {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    &:first-child {
      margin-top: 40px;
    }
  }
  .solutions-list {
    h4 {
      text-align:center;
    }
    ul {
      margin-left: 10%;
    }
  }
  .phone-button-wrapper {
    display: inline-block;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: $blue;
  }
}

.display-590 {
  display:none;
}

@media screen and (max-width: 590px){

  .panel-dsihome {
    padding: 20px;
  }

  .container {
    width: 88%;
  }

  .splash {
    h1 {
      letter-spacing: 4px;
    }
    img {
      margin-top: 60px;
    }
  }

  .nav-controls-right {
    display:none;
  }
  .display-590 {
    display: block;
  }
  .hidden-590{
    display:none;
  }
  .row-address {
    margin-bottom: 0;
    .col-xs-6 {
      width: 100%;
      display: block;
      float:none;
      margin-bottom: 20px;
    }
  }
}
