* {
  list-style-type: none;
}

/* blue rgb(47, 56, 143)
 */
body {
  background-color: #2B4592;
}

ul {
  padding: 0px;
  margin: 0px;
}

.container {
  margin:0 auto;
  padding:0;
  width: 80%;
}
/* splash */
.splash {
  height:623px;
  width:100%;
  background:
  linear-gradient(
    rgba(0, 23, 34, 0.75),
    rgba(43, 64, 74, 0.75)
    ),
  url("../../images/splash.jpg");
}
.splash img {
  height: 100px;
  width: auto;
  margin-top: 120px;
  margin-bottom: 35px;
}
.splash h4 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 7px;
  color: white;
}
.splash p {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  color: #d4d7d8;
}


.sub-title {
}


/* content */
.content {
  background-color: #2B4592;
  padding: 30px;
}
.whiteboxContainer {
  margin: 0 auto 50px;
  text-align: center;
}
.whitebox {
  display: inline-block;
  text-transform: uppercase;
  background-color: white;
  font-weight: 700;
  border-radius: 2;
  font-size: 24px;
  margin: 0 auto;
  padding: 15px 50px;
  color: #263740;
  min-width: 400px;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    height:200px;
    bottom:-200px;
    left:50%;
    width:4px;
    background-color: white;
  }
  &:before {
    
  }
}
