* {
  list-style-type: none;
}

/* blue rgb(47, 56, 143)
 */
body {
  background-color: $blue;
}

ul {
  padding: 0px;
  margin: 0px;
}

.spacer-20 {
  clear: both;
  height: 20px;
}
.spacer-40 {
  clear: both;
  height: 40px;
}

.container {
  margin:0 auto;
  padding:0;
  width: 80%;
  z-index: 1;
  position: relative;
}



/* content */
.content {
  position:relative;
}

.content-blue {
  background: $blue url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJUlEQVQIW2NkYGCQBGIQeA6lwRQjPglkhXA2SAcygBtLtARcNwBN0gQHoVU8VwAAAABJRU5ErkJggg==);
  padding-bottom: 20px;
  .right-side {
    z-index:0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJUlEQVQIW2NkYGCQBGIQeA6lwRQjPglkhXA2SAcygBtLtARcNwBN0gQHoVU8VwAAAABJRU5ErkJggg==);
    background-color: darken($blue, 5%);
  }
}

.content-gray {
  background-color: $gray-dark;
  .right-side {
    background-color: $gray-med;
    z-index:0;
  }
}

.right-side {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  z-index:-1;
}


.content-blue {

}


.table-cell {
  display: table-cell;
  height: 122px;
  vertical-align: middle;
}

/* page body */
.left {
  position: relative;
  float: left;
  width: 66%;
  min-height: 500px;
  padding: 44px 30px 100px;
  background: #FFF;
}
.page-body {
  position: relative;
  background: #FFF;
  p {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    color:  $gray-med;
  }
  h1 {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color:  $gray-med;
  }
  h2 {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color:  $gray-med;
  }
  h3 {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    color: #111;
  }
  ul {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 20px;
    li {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 24px;
      color:  $gray-med;
    }
  }
}

/* sidebar */
.right {
  box-sizing: border-box;
  float: left;
  width: 34%;
  padding: 44px 30px 100px;
  background: #EBEBEB;
}
.sidebar-module {
  margin-bottom: 40px;
  form input[type="text"]{
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 13px 10px;
    font-size: 14px;
    line-height: 14px;
    color:  $gray-med;
    border: 1px solid #AAA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    transition: all .3s ease-out;
  }
  textarea {
    resize: none;
    min-height: 80px;
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 13px 10px;
    font-size: 14px;
    line-height: 14px;
    color:  $gray-med;
    border: 1px solid #AAA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
  }
  h3 {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    color: #111;
  }
  p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
  }

}

.submit {
  cursor: pointer;
  display: inline-block;
  min-width: 220px;
  padding: 24px 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color:  $gray-med;
  border-color:  $gray-med;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
