ul.supply-nav {
  margin: 0px 0px 90px 0px;
  padding: 0px;
  li {
    list-style: none;
    float: left;
    display: block;
    padding: 3px 15px;
    border-right-color:  $gray-med;
    border-right-width: 1px;
    border-right-style: solid;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 24px;
    a {
      color:  $gray-med;
      font-weight: 700;
    }
  }
}
li.active a{
  color: $blue !important;
}
.first {
  padding: 3px 15px 3px 0px !important;
}
.firstt {
  margin-right: 4% !important;
}
.last {
  padding: 3px 0px 3px 15px !important;
  border-right: none !important;
}
.lastt {
  margin-right: 0px !important;
}

form {
  margin: 0;
  .half {
    float: left;
    width: 48%;
  }
  .first {
    margin-right: 4%;
  }
  .third {
    float: left;
    width: 30.6666%;
    margin-right: 4%;
  }
  label {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #000;
    span {
      color: #ff0000;
    }
  }
  input[type="text"] {
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    padding: 12px 10px;
    font-size: 16px;
    color:  $gray-med;
    border: 1px solid #BBB;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
  }
  textarea {
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    padding: 12px 10px;
    font-size: 16px;
    color:  $gray-med;
    border: 1px solid #BBB;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
  }
}
