$font-main-stack: 'Open Sans', 'Helvetica', Arial, sans-serif;

body {
  font-family: $font-main-stack;
  font-size: 15px;
}

p {
  line-height: 1.8;
}

a {
  transition: all .3s ease-out;
}

.title {
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:7;
  font-size: 30px;
}

.text-underline {
  text-decoration: underline;
}

.text-thin {
  font-weight: 300;
}

.text-bolder {
  font-weight: 700;
}


/* page title */
.pageTitle {
  height: 122px;
  width: 100%;
  background-color: $blue;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJUlEQVQIW2NkYGCQBGIQeA6lwRQjPglkhXA2SAcygBtLtARcNwBN0gQHoVU8VwAAAABJRU5ErkJggg==);
  border-bottom: thin solid $blue;
  border-top: thin solid $blue;
}

.page-heading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: #FFF;
  margin-top: 30px;
}
