.panel {
  border-radius: 0; }

* {
  list-style-type: none; }

/* blue rgb(47, 56, 143)
 */
body {
  background-color: #2B4592; }

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: #3D5CB9;
  z-index: -1; }

ul {
  padding: 0px;
  margin: 0px; }

.spacer-20 {
  clear: both;
  height: 20px; }

.spacer-40 {
  clear: both;
  height: 40px; }

.bg-right {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  background: #EBEBEB; }

.container {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
  z-index: 1;
  position: relative; }

/* content */
.content {
  position: relative;
  background-color: #2B4592;
  padding: 30px;
  padding-top: 0px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJUlEQVQIW2NkYGCQBGIQeA6lwRQjPglkhXA2SAcygBtLtARcNwBN0gQHoVU8VwAAAABJRU5ErkJggg==); }

.whiteboxContainer {
  margin: 0 auto 50px;
  text-align: center;
  padding-top: 50px; }

.whitebox {
  display: inline-block;
  text-transform: uppercase;
  background-color: white;
  font-weight: 700;
  border-radius: 2;
  font-size: 24px;
  margin: 0 auto;
  padding: 15px 50px;
  color: #263740;
  min-width: 200px;
  position: relative; }
  .whitebox:first-child {
    margin-top: 60px; }

.whitebox-line-bottom:before {
  content: " ";
  position: absolute;
  height: 200px;
  bottom: -180px;
  left: 49.5%;
  width: 3px;
  background-color: white; }

.whitebox-line-top:after {
  content: " ";
  position: absolute;
  height: 120px;
  top: -112px;
  left: 49.5%;
  width: 3px;
  background-color: white; }

.panel-dsihome {
  position: relative;
  padding: 40px; }

.down-button-wrapper {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center; }
  .down-button-wrapper .down-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: white;
    background-color: #2B4592;
    width: 40px;
    height: 40px;
    border: 4px solid white;
    border-radius: 50%;
    font-size: 1.5em;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
    .down-button-wrapper .down-button:hover {
      background-color: #5674cd; }

.section-solutions .solutions-list {
  margin-top: 20px;
  color: white;
  text-align: left; }
  .section-solutions .solutions-list h4 {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 40px;
    text-transform: uppercase; }
  .section-solutions .solutions-list li {
    font-size: 20px;
    margin-bottom: 20px; }
    .section-solutions .solutions-list li a {
      color: white; }
    .section-solutions .solutions-list li i {
      margin-right: 10px; }

/* page title */
.pageTitle {
  height: 122px;
  width: 100%;
  background-color: #2B4592;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJUlEQVQIW2NkYGCQBGIQeA6lwRQjPglkhXA2SAcygBtLtARcNwBN0gQHoVU8VwAAAABJRU5ErkJggg==); }

.heading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: #FFF; }

.table-cell {
  display: table-cell;
  height: 122px;
  vertical-align: middle; }

/* page body */
.left {
  position: relative;
  float: left;
  width: 66%;
  min-height: 500px;
  padding: 44px 30px 100px;
  background: #FFF; }

.page-body {
  position: relative;
  background: #FFF; }
  .page-body p {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    color: #363f48; }
  .page-body h1 {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #363f48; }
  .page-body h2 {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #363f48; }
  .page-body h3 {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    color: #111; }
  .page-body ul {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 20px; }
    .page-body ul li {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 24px;
      color: #363f48; }

/* sidebar */
.right {
  box-sizing: border-box;
  float: left;
  width: 34%;
  padding: 44px 30px 100px;
  background: #EBEBEB; }

.sidebar-module {
  margin-bottom: 40px; }
  .sidebar-module form input[type="text"] {
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 13px 10px;
    font-size: 14px;
    line-height: 14px;
    color: #363f48;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3); }
  .sidebar-module textarea {
    min-height: 80px;
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 13px 10px;
    font-size: 14px;
    line-height: 14px;
    color: #363f48;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3); }
  .sidebar-module h3 {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    color: #111; }
  .sidebar-module p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px; }

.submit {
  cursor: pointer;
  display: inline-block;
  min-width: 220px;
  padding: 24px 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #363f48;
  border-color: #363f48;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px; }

.right-side {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%; }

.content-blue .right-side {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJUlEQVQIW2NkYGCQBGIQeA6lwRQjPglkhXA2SAcygBtLtARcNwBN0gQHoVU8VwAAAABJRU5ErkJggg==);
  background-color: #2a438e; }

body {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 15px; }

.title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 7;
  font-size: 30px; }

.text-underline {
  text-decoration: underline; }

.text-thin {
  font-weight: 300; }

.text-bolder {
  font-weight: 700; }

p {
  line-height: 1.8; }

.caption {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .caption h1 {
    color: white; }

.banner-contact {
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: .8618em;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #2B4592;
  z-index: 100; }
  .banner-contact a {
    text-decoration: underline;
    color: white; }

/* splash */
.splash {
  height: 600px;
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(rgba(0, 23, 34, 0.75), rgba(43, 64, 74, 0.75)), url("../../images/splash.jpg");
  background: linear-gradient(rgba(0, 23, 34, 0.75), rgba(43, 64, 74, 0.75)), url("../../images/splash.jpg"); }

.splash img {
  height: 100px;
  width: auto;
  margin-bottom: 35px;
  margin-top: 120px; }

.splash h1 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 7px;
  color: white; }

.splash h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  color: #d4d7d8; }

.header-btn-wrapper {
  bottom: 100px;
  width: 100%;
  text-align: center;
  position: absolute; }
  .header-btn-wrapper .header-btn {
    color: white;
    width: 360px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 22px; }
    .header-btn-wrapper .header-btn a {
      display: block;
      text-decoration: none; }
    .header-btn-wrapper .header-btn i {
      position: absolute;
      margin-top: -10px;
      display: inline-block; }
  .header-btn-wrapper .down-button-wrapper {
    bottom: -26px; }

.btn-arrow-down {
  position: relative;
  border: 2px solid white;
  border-radius: 3px;
  padding: 14px;
  color: white;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
  .btn-arrow-down:hover {
    color: #2B4592;
    background-color: white; }
    .btn-arrow-down:hover:after {
      -webkit-transform: scaleY(1);
          -ms-transform: scaleY(1);
              transform: scaleY(1); }
  .btn-arrow-down:after {
    content: " ";
    position: absolute;
    height: 120px;
    bottom: -120px;
    left: 49.5%;
    width: 3px;
    background-color: white;
    /*     transform: scaleY(0);
 */
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 0.3s ease-out;
            transition: transform 0.3s ease-out; }

.navbar {
  margin-bottom: 0;
  z-index: 200;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .navbar .navbar-brand {
    padding: 0; }
    .navbar .navbar-brand img {
      display: inline-block;
      max-height: 30px;
      margin-top: 8px; }

.navbar-default {
  border-radius: 0; }

.nav-wrapper {
  min-height: 50px; }

.navbar-nav ul.dropdown-menu li {
  font-weight: 500;
  text-transform: none; }

.navbar-nav .dropdown-menu > li > a {
  -webkit-transition: all .3 ease-out;
          transition: all .3 ease-out; }
  .navbar-nav .dropdown-menu > li > a:hover {
    color: #2B4592; }

.navbar-nav li {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600; }
  .navbar-nav li a {
    position: relative;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
    .navbar-nav li a:hover:after {
      position: absolute;
      bottom: -2px;
      left: 0px;
      width: 100%;
      height: 2px;
      background-color: black; }

#navbar-fixed.affix {
  position: fixed;
  top: 26px;
  width: 100%;
  margin-bottom: 26px; }

.navbar-default .navbar-nav > li > a {
  color: black; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #e6e6e6;
  color: #2B4592; }

footer {
  background-color: #363f48;
  color: #5e666d; }
  footer a {
    color: #5e666d; }

.subfooter {
  height: 69px;
  background-color: #252c33;
  color: #575d63;
  padding: 30px 0 30px 0; }
  .subfooter p {
    margin: 0;
    font-size: 14px; }
  .subfooter a {
    color: #2B4592; }

.teamitem {
  margin-bottom: 35px; }
  .teamitem img {
    margin-bottom: 5px;
    float: left;
    display: block;
    margin-right: 20px; }

#map1, #map2, #map3, #map4 {
  height: 270px;
  width: 60%;
  float: right; }

/*# sourceMappingURL=/main.css.map */