* {
  list-style-type: none; }

/* blue rgb(47, 56, 143)
 */
body {
  background-color: #2B4592;
  font-size: 15px; }

ul {
  padding: 0px;
  margin: 0px; }

.spacer-20 {
  clear: both;
  height: 20px; }

.spacer-40 {
  clear: both;
  height: 40px; }

.bg-right {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  background: #EBEBEB; }

.container {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
  z-index: 1;
  position: relative; }

/* splash */
.splash {
  height: 623px;
  width: 100%;
  background: -webkit-linear-gradient(rgba(0, 23, 34, 0.75), rgba(43, 64, 74, 0.75)), url("../../images/splash.jpg");
  background: linear-gradient(rgba(0, 23, 34, 0.75), rgba(43, 64, 74, 0.75)), url("../../images/splash.jpg"); }

.splash img {
  height: 100px;
  width: auto;
  margin-top: 120px;
  margin-bottom: 35px; }

.splash h4 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 7px;
  color: white; }

.splash p {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  color: #d4d7d8; }

/* content */
.content {
  background-color: #2B4592;
  padding: 30px; }

.whiteboxContainer {
  margin: 0 auto 50px;
  text-align: center; }

.whitebox {
  display: inline-block;
  text-transform: uppercase;
  background-color: white;
  font-weight: 700;
  border-radius: 2;
  font-size: 24px;
  margin: 0 auto;
  padding: 15px 50px;
  color: #263740;
  min-width: 400px;
  position: relative; }
  .whitebox:after {
    content: " ";
    position: absolute;
    height: 200px;
    bottom: -200px;
    left: 50%;
    width: 4px;
    background-color: white; }

/* page title */
.pageTitle {
  height: 122px;
  width: 100%;
  background-color: #2B4592;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJUlEQVQIW2NkYGCQBGIQeA6lwRQjPglkhXA2SAcygBtLtARcNwBN0gQHoVU8VwAAAABJRU5ErkJggg==); }

.heading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: #FFF; }

.table-cell {
  display: table-cell;
  height: 122px;
  vertical-align: middle; }

/* page body */
.left {
  position: relative;
  float: left;
  width: 66%;
  min-height: 500px;
  padding: 44px 30px 100px;
  background: #FFF; }

.page-body {
  position: relative;
  background: #FFF; }
  .page-body p {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    color: #363f48; }
  .page-body h1 {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #363f48; }
  .page-body h2 {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #363f48; }
  .page-body h3 {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    color: #111; }
  .page-body ul {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 20px; }
    .page-body ul li {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 24px;
      color: #363f48; }

/* sidebar */
.right {
  box-sizing: border-box;
  float: left;
  width: 34%;
  padding: 44px 30px 100px;
  background: #EBEBEB; }

.sidebar-module {
  margin-bottom: 40px; }
  .sidebar-module form input[type="text"] {
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 13px 10px;
    font-size: 14px;
    line-height: 14px;
    color: #363f48;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3); }
  .sidebar-module textarea {
    min-height: 80px;
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 18px;
    padding: 13px 10px;
    font-size: 14px;
    line-height: 14px;
    color: #363f48;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3); }
  .sidebar-module h3 {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    color: #111; }
  .sidebar-module p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px; }

.submit {
  cursor: pointer;
  display: inline-block;
  min-width: 220px;
  padding: 24px 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #363f48;
  border-color: #363f48;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  background: none; }

body {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 15px; }

.title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 7;
  font-size: 30px; }

.caption {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .caption h1 {
    color: white; }

.banner-contact {
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: .8618em;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #2B4592;
  z-index: 100; }
  .banner-contact a {
    text-decoration: underline;
    color: white; }

.navbar {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 200;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .navbar .navbar-brand {
    padding: 0; }
    .navbar .navbar-brand img {
      display: inline-block;
      max-height: 40px;
      margin-top: 6px; }

.navbar-default {
  border-radius: 0; }

.navbar-nav li {
  text-transform: uppercase;
  font-size: 1.218em;
  font-weight: 600; }
  .navbar-nav li a {
    position: relative; }
    .navbar-nav li a:hover:after {
      position: absolute;
      bottom: -2px;
      left: 0px;
      width: 100%;
      height: 2px;
      background-color: black; }

#navbar-fixed.affix {
  position: fixed;
  top: 26px;
  width: 100%; }

.navbar-default .navbar-nav > li > a {
  color: black; }

footer {
  background-color: #363f48;
  color: #5e666d; }
  footer a {
    color: #5e666d; }

.subfooter {
  height: 69px;
  background-color: #252c33;
  color: #575d63;
  padding: 30px 0 30px 0; }
  .subfooter p {
    margin: 0;
    font-size: 14px; }
  .subfooter a {
    color: #2B4592; }

.teamitem {
  margin-bottom: 35px; }
  .teamitem img {
    margin-bottom: 5px;
    float: left;
    display: block;
    margin-right: 20px; }

#map1, #map2, #map3, #map4 {
  height: 270px;
  width: 60%;
  float: right; }

/*# sourceMappingURL=/main.css.map */